:root {
    --color-primario: rgb(55, 46, 131);
    --color-secundario: rgb(200, 217, 13);
    --fuente-principal: 'Arial', sans-serif;
}

body {
    animation: fadeIn 1s;
    background-color: #000; /* Color de fondo negro, cambia según tu preferencia */
    color: #fff; /* Color del texto, cambia según tu preferencia */
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

header h1 {
    text-align: center;
    /* Otros estilos para tu título aquí */
}
.sidebar a[href*="github.com"] {
    color: white;
    text-decoration: none; /* Opcional: elimina el subrayado del enlace */
}


.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 200px; /* Ajusta el ancho según necesites */
    height: 100%;
    background-color: #333; /* Cambia el color de fondo según tu diseño */
    color: white;
    padding: 20px;
}

.sidebar nav ul {
    list-style-type: none;
    padding: 0;
}

.sidebar nav ul li {
    margin-bottom: 10px;
}

.header {
    width: 400px;
    display: block;
    margin: auto;
}

.subtitle {
    font-size: 22px;
    font-weight: bold;
    margin-left: 645px;
    margin-right: 645px;
    color: rgb(255, 255, 255);
    margin-top: 50px;
}

.text {
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: bold;
    display: flex;
    text-align: justify;
    text-justify: inter-word;
    margin-left: 350px;
    margin-right: 350px;
}

.lista {
    color: rgb(255, 255, 255);
    font-weight: bold;
    width: 30%;
    font-size: 30px;
    margin-left: 34%;
}

.titles {
    color: rgb(200, 217, 13);
    background-color: rgb(55, 46, 131);
    font-size: 40px;
    width: 30%;
    font-weight: bolder;
    margin-left: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

#descripción {
    color: rgb(200, 217, 13);
    background-color: rgb(98, 139, 0);
}

#Historia {
    color: rgb(200, 217, 13);
    background-color: rgb(0, 132, 141);
}

.des {
    font-size: 30px;
    color: rgb(200, 217, 13);
    background-color: rgb(55, 46, 131);
    width: 30%;
    margin-left: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.DASP {
    width: 145px;
    float:right;
    background-color: transparent;
}

.socials {
    width: 100px;
}

#github {
    align-content: center;
    margin-left: 45%;
}
